/* Screen resoution of 1008px */
@media (max-width: 63em) {
  html {
    font-size: 52.5%;
  }

  .heading-primary {
    line-height: 1.2;
  }
}

/* Screen resoution of 816px */
@media (max-width: 51em) {
  .heading-primary {
    font-size: 3.6rem;
  }
  .description {
    font-size: 1.8rem;
  }
}

/* Screen resoution of 704px */
@media (max-width: 44em) {
  main {
    grid-template-columns: 1fr;
    height: auto;
  }

  .section-left {
    background-repeat: no-repeat;
    height: 500px;
    background-size: 80%;
    background-position: center;
  }

  .icon {
    font-size: 2.4rem;
  }
}

/* Screen resoution of 544px */
@media (max-width: 34em) {
  .heading-primary {
    font-size: 3rem;
  }

  .section-left {
    height: 40rem;
    background-position: bottom;
  }

  .chat-icon {
    margin: 2rem 0 5rem 5rem;
  }

  .register-btn:link,
  .register-btn:visited {
    text-align: center;
    width: 50%;
  }

  footer {
    flex-direction: column;
    row-gap: 1.6rem;
  }
}

/* Screen resoution of 400px */
@media (max-width: 25em) {
  main {
    padding: 0 1.6rem;
  }

  .chat-icon {
    margin: 2rem 0 0 5rem;
  }

  .heading-primary {
    font-size: 2.4rem;
  }

  .section-left {
    background-position: bottom;
    height: 32rem;
  }

  .description {
    font-size: 1.6rem;
  }
}
