@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;

  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  color: #fff;
}

main {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.section-left {
  background-image: url(images/illustration-mockups.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right;
}

.chat-icon {
  font-size: 3.2rem;
  margin-left: 13.4rem;
  font-weight: 600;
  margin-top: 4rem;

  display: flex;
  align-items: center;
}

.section-right {
  align-self: center;
  padding: 3.2rem;
}

.heading-primary {
  font-family: "Poppins", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.register-btn:link,
.register-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.6rem 4.8rem;
  background-color: hsl(300, 69%, 71%);
  color: inherit;
  border-radius: 48px;
  box-shadow: 0px 1px 8px 2px rgb(0 0 0 / 50%);
  transition: all 0.3s;
}

.register-btn:hover,
.register-btn:active {
  background-color: hsla(300, 69%, 71%, 0.699);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.6rem;
}

.icon-container {
  display: flex;
  column-gap: 1.6rem;
}

.icon {
  font-size: 40px;
  transition: color 0.5s;
}

.icon:hover {
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #fff;
}
/*
  FONT sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128  
*/
